<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Habilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="habilidades-container">
    <h2>Elige una habilidad:</h2>
    
    <div class="habilidades-grid">
      <ion-button 
        *ngFor="let habilidad of habilidades"
        expand="block" 
        class="habilidad-btn"
        [ngClass]="getClass(habilidad.nivel_maestria)"
        (click)="selectSkill(habilidad.nombre_habilidad)">
        {{ habilidad.nombre_habilidad }} {{ habilidad.nivel_maestria }}%
      </ion-button>
    </div>

    <div class="habilidad-detail" *ngIf="selectedHabilidad">
      <h3>{{ selectedHabilidad.nombre_habilidad }}</h3>
      <p class="texto-inedito">{{ selectedHabilidad.texto_inedito }}</p>
      <ion-list>
        <ion-item *ngFor="let pregunta of selectedHabilidad.preguntas">
          <ion-label>
            <h4>{{ pregunta.enunciado }}</h4>
            <div class="alternativas">
              <div *ngFor="let key of ['A','B','C','D']">
                <strong>{{ key }}.</strong> {{ pregunta.alternativas[key] }}
              </div>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
