<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/examen"></ion-back-button>
    </ion-buttons>
    <ion-title>Simulacro PAES</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="finishExam()" [disabled]="loading || isSubmitLocked">
        <ion-icon name="checkmark-circle"></ion-icon>
        <span *ngIf="loading">Enviando...</span>
        <span *ngIf="!loading">{{ submitButtonText }}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="exam-container" *ngIf="examData">
    <div class="exam-header ion-margin-bottom">
      <h2>Responde todas las preguntas</h2>
      <div class="exam-header-actions">
        <ion-badge color="secondary"
          >Tiempo estimado: {{ examData.estimated_time }} min</ion-badge
        >
        <ion-button
          fill="outline"
          size="small"
          color="medium"
          (click)="downloadPDF()"
          id="btn-download-exam-pdf"
        >
          <ion-icon name="download-outline" slot="start"></ion-icon>
          Descargar PDF
        </ion-button>
      </div>
    </div>

    <!-- Agrupamos por texto para no repetirlo -->
    <div *ngFor="let grupo of groupedQuestions">
      <!-- Sección del Texto Contextual -->
      <ion-card class="text-context-card">
        <ion-card-header>
          <ion-card-subtitle>Lectura Contextual</ion-card-subtitle>
          <ion-card-title>Lee atentamente:</ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-content">
          {{ grupo.texto }}
        </ion-card-content>
      </ion-card>

      <!-- Preguntas asociadas a ese texto específico -->
      <ion-card
        *ngFor="let pregunta of grupo.preguntas; let i = index"
        class="question-card"
      >
        <ion-card-content>
          <h3 class="question-number">Pregunta {{ pregunta.globalIndex }}</h3>
          <p class="question-text">{{ pregunta.enunciado }}</p>

          <ion-radio-group [(ngModel)]="answers[pregunta.id_pregunta]">
            <ion-item
              *ngFor="let alt of getAlternativesArray(pregunta.alternativas)"
              lines="none"
              class="alt-item"
            >
              <ion-radio slot="start" [value]="alt.key"></ion-radio>
              <ion-label class="ion-text-wrap"
                >{{ alt.key }}. {{ alt.value }}</ion-label
              >
            </ion-item>
          </ion-radio-group>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-button
      expand="block"
      (click)="finishExam()"
      [disabled]="loading || isSubmitLocked"
      class="finish-btn"
    >
      <span *ngIf="loading">Enviando...</span>
      <span *ngIf="!loading">{{ submitButtonText }}</span>
    </ion-button>
  </div>
</ion-content>
