--
-- PostgreSQL database dump
--

\restrict ZxmVdbOWxyufDKCD6FhqfjGFGdahb8OTREwXklpBHX0231FV2i1827URUoVeoDN

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: habilidad_lectora; Type: TYPE; Schema: public; Owner: user_lexiscan
--

CREATE TYPE public.habilidad_lectora AS ENUM (
    'Localizar',
    'Interpretar',
    'Evaluar',
    'Lectura_Critica',
    'Vocabulario',
    'Tipos_de_Texto'
);


ALTER TYPE public.habilidad_lectora OWNER TO user_lexiscan;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: banco_preguntas; Type: TABLE; Schema: public; Owner: user_lexiscan
--

CREATE TABLE public.banco_preguntas (
    id_pregunta integer NOT NULL,
    id_habilidad integer NOT NULL,
    texto_inedito text NOT NULL,
    enunciado character varying(500) NOT NULL,
    alternativas jsonb NOT NULL,
    respuesta_correcta character(1) NOT NULL,
    justificacion_cot text NOT NULL,
    dificultad character varying(20) DEFAULT 'medio'::character varying NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now() NOT NULL,
    activa boolean DEFAULT true NOT NULL,
    CONSTRAINT banco_preguntas_respuesta_correcta_check CHECK ((respuesta_correcta = ANY (ARRAY['A'::bpchar, 'B'::bpchar, 'C'::bpchar, 'D'::bpchar])))
);


ALTER TABLE public.banco_preguntas OWNER TO user_lexiscan;

--
-- Name: banco_preguntas_id_pregunta_seq; Type: SEQUENCE; Schema: public; Owner: user_lexiscan
--

CREATE SEQUENCE public.banco_preguntas_id_pregunta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.banco_preguntas_id_pregunta_seq OWNER TO user_lexiscan;

--
-- Name: banco_preguntas_id_pregunta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lexiscan
--

ALTER SEQUENCE public.banco_preguntas_id_pregunta_seq OWNED BY public.banco_preguntas.id_pregunta;


--
-- Name: configuracion; Type: TABLE; Schema: public; Owner: user_lexiscan
--

CREATE TABLE public.configuracion (
    id_config integer NOT NULL,
    clave character varying(100) NOT NULL,
    valor character varying(500) NOT NULL,
    descripcion character varying(255)
);


ALTER TABLE public.configuracion OWNER TO user_lexiscan;

--
-- Name: configuracion_id_config_seq; Type: SEQUENCE; Schema: public; Owner: user_lexiscan
--

CREATE SEQUENCE public.configuracion_id_config_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.configuracion_id_config_seq OWNER TO user_lexiscan;

--
-- Name: configuracion_id_config_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lexiscan
--

ALTER SEQUENCE public.configuracion_id_config_seq OWNED BY public.configuracion.id_config;


--
-- Name: economia_monedas; Type: TABLE; Schema: public; Owner: user_lexiscan
--

CREATE TABLE public.economia_monedas (
    rut_usuario character varying(12) NOT NULL,
    saldo_monedas integer DEFAULT 0 NOT NULL,
    total_acumulado integer DEFAULT 0 NOT NULL,
    ultima_transaccion timestamp with time zone
);


ALTER TABLE public.economia_monedas OWNER TO user_lexiscan;

--
-- Name: errores_favoritos; Type: TABLE; Schema: public; Owner: user_lexiscan
--

CREATE TABLE public.errores_favoritos (
    id_error integer NOT NULL,
    rut_usuario character varying(12) NOT NULL,
    id_pregunta integer NOT NULL,
    id_habilidad integer NOT NULL,
    veces_fallada integer DEFAULT 1 NOT NULL,
    resuelta boolean DEFAULT false NOT NULL,
    fecha_registro timestamp with time zone DEFAULT now() NOT NULL,
    fecha_resolucion timestamp with time zone,
    CONSTRAINT errores_favoritos_veces_fallada_check CHECK ((veces_fallada > 0))
);


ALTER TABLE public.errores_favoritos OWNER TO user_lexiscan;

--
-- Name: errores_favoritos_id_error_seq; Type: SEQUENCE; Schema: public; Owner: user_lexiscan
--

CREATE SEQUENCE public.errores_favoritos_id_error_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.errores_favoritos_id_error_seq OWNER TO user_lexiscan;

--
-- Name: errores_favoritos_id_error_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lexiscan
--

ALTER SEQUENCE public.errores_favoritos_id_error_seq OWNED BY public.errores_favoritos.id_error;


--
-- Name: historial_habilidades; Type: TABLE; Schema: public; Owner: user_lexiscan
--

CREATE TABLE public.historial_habilidades (
    id_progreso integer NOT NULL,
    rut_usuario character varying(12) NOT NULL,
    nombre_habilidad public.habilidad_lectora NOT NULL,
    nivel_maestria numeric(5,2) DEFAULT 0.00 NOT NULL,
    ultima_actualizacion timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT historial_habilidades_nivel_maestria_check CHECK (((nivel_maestria >= (0)::numeric) AND (nivel_maestria <= (100)::numeric)))
);


ALTER TABLE public.historial_habilidades OWNER TO user_lexiscan;

--
-- Name: historial_habilidades_id_progreso_seq; Type: SEQUENCE; Schema: public; Owner: user_lexiscan
--

CREATE SEQUENCE public.historial_habilidades_id_progreso_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historial_habilidades_id_progreso_seq OWNER TO user_lexiscan;

--
-- Name: historial_habilidades_id_progreso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lexiscan
--

ALTER SEQUENCE public.historial_habilidades_id_progreso_seq OWNED BY public.historial_habilidades.id_progreso;


--
-- Name: preguntas_ia; Type: TABLE; Schema: public; Owner: user_lexiscan
--

CREATE TABLE public.preguntas_ia (
    id_pregunta integer NOT NULL,
    id_pregunta_origen integer,
    id_habilidad integer NOT NULL,
    texto_inedito text NOT NULL,
    enunciado character varying(500) NOT NULL,
    alternativas jsonb NOT NULL,
    respuesta_correcta character(1) NOT NULL,
    justificacion_cot text NOT NULL,
    modelo_ia character varying(60) DEFAULT 'sinclair'::character varying NOT NULL,
    fecha_generacion timestamp with time zone DEFAULT now() NOT NULL,
    activa boolean DEFAULT true NOT NULL,
    CONSTRAINT preguntas_ia_respuesta_correcta_check CHECK ((respuesta_correcta = ANY (ARRAY['A'::bpchar, 'B'::bpchar, 'C'::bpchar, 'D'::bpchar])))
);


ALTER TABLE public.preguntas_ia OWNER TO user_lexiscan;

--
-- Name: preguntas_ia_id_pregunta_seq; Type: SEQUENCE; Schema: public; Owner: user_lexiscan
--

CREATE SEQUENCE public.preguntas_ia_id_pregunta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.preguntas_ia_id_pregunta_seq OWNER TO user_lexiscan;

--
-- Name: preguntas_ia_id_pregunta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lexiscan
--

ALTER SEQUENCE public.preguntas_ia_id_pregunta_seq OWNED BY public.preguntas_ia.id_pregunta;


--
-- Name: sesion_preguntas; Type: TABLE; Schema: public; Owner: user_lexiscan
--

CREATE TABLE public.sesion_preguntas (
    id_sesion_pregunta integer NOT NULL,
    id_examen integer NOT NULL,
    id_pregunta integer NOT NULL,
    respuesta_dada character(1),
    es_correcta boolean,
    tiempo_respuesta integer,
    CONSTRAINT sesion_preguntas_respuesta_dada_check CHECK ((respuesta_dada = ANY (ARRAY['A'::bpchar, 'B'::bpchar, 'C'::bpchar, 'D'::bpchar])))
);


ALTER TABLE public.sesion_preguntas OWNER TO user_lexiscan;

--
-- Name: sesion_preguntas_id_sesion_pregunta_seq; Type: SEQUENCE; Schema: public; Owner: user_lexiscan
--

CREATE SEQUENCE public.sesion_preguntas_id_sesion_pregunta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sesion_preguntas_id_sesion_pregunta_seq OWNER TO user_lexiscan;

--
-- Name: sesion_preguntas_id_sesion_pregunta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lexiscan
--

ALTER SEQUENCE public.sesion_preguntas_id_sesion_pregunta_seq OWNED BY public.sesion_preguntas.id_sesion_pregunta;


--
-- Name: sesiones_examen; Type: TABLE; Schema: public; Owner: user_lexiscan
--

CREATE TABLE public.sesiones_examen (
    id_examen integer NOT NULL,
    rut_usuario character varying(12) NOT NULL,
    cantidad_preguntas integer NOT NULL,
    puntaje_obtenido integer,
    puntaje_maximo integer,
    tiempo_total integer,
    es_impulsivo boolean DEFAULT false NOT NULL,
    fecha_inicio timestamp with time zone DEFAULT now() NOT NULL,
    fecha_fin timestamp with time zone,
    completado boolean DEFAULT false NOT NULL
);


ALTER TABLE public.sesiones_examen OWNER TO user_lexiscan;

--
-- Name: sesiones_examen_id_examen_seq; Type: SEQUENCE; Schema: public; Owner: user_lexiscan
--

CREATE SEQUENCE public.sesiones_examen_id_examen_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sesiones_examen_id_examen_seq OWNER TO user_lexiscan;

--
-- Name: sesiones_examen_id_examen_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lexiscan
--

ALTER SEQUENCE public.sesiones_examen_id_examen_seq OWNED BY public.sesiones_examen.id_examen;


--
-- Name: transacciones_monedas; Type: TABLE; Schema: public; Owner: user_lexiscan
--

CREATE TABLE public.transacciones_monedas (
    id_transaccion integer NOT NULL,
    rut_usuario character varying(12) NOT NULL,
    monto integer NOT NULL,
    concepto character varying(200) NOT NULL,
    fecha timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.transacciones_monedas OWNER TO user_lexiscan;

--
-- Name: transacciones_monedas_id_transaccion_seq; Type: SEQUENCE; Schema: public; Owner: user_lexiscan
--

CREATE SEQUENCE public.transacciones_monedas_id_transaccion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transacciones_monedas_id_transaccion_seq OWNER TO user_lexiscan;

--
-- Name: transacciones_monedas_id_transaccion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lexiscan
--

ALTER SEQUENCE public.transacciones_monedas_id_transaccion_seq OWNED BY public.transacciones_monedas.id_transaccion;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: user_lexiscan
--

CREATE TABLE public.usuarios (
    rut character varying(12) NOT NULL,
    nombre_completo character varying(150) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    xp_total integer DEFAULT 0 NOT NULL,
    racha_actual integer DEFAULT 0 NOT NULL,
    fecha_registro timestamp with time zone DEFAULT now() NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    ultimo_acceso timestamp with time zone
);


ALTER TABLE public.usuarios OWNER TO user_lexiscan;

--
-- Name: banco_preguntas id_pregunta; Type: DEFAULT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.banco_preguntas ALTER COLUMN id_pregunta SET DEFAULT nextval('public.banco_preguntas_id_pregunta_seq'::regclass);


--
-- Name: configuracion id_config; Type: DEFAULT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.configuracion ALTER COLUMN id_config SET DEFAULT nextval('public.configuracion_id_config_seq'::regclass);


--
-- Name: errores_favoritos id_error; Type: DEFAULT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.errores_favoritos ALTER COLUMN id_error SET DEFAULT nextval('public.errores_favoritos_id_error_seq'::regclass);


--
-- Name: historial_habilidades id_progreso; Type: DEFAULT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.historial_habilidades ALTER COLUMN id_progreso SET DEFAULT nextval('public.historial_habilidades_id_progreso_seq'::regclass);


--
-- Name: preguntas_ia id_pregunta; Type: DEFAULT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.preguntas_ia ALTER COLUMN id_pregunta SET DEFAULT nextval('public.preguntas_ia_id_pregunta_seq'::regclass);


--
-- Name: sesion_preguntas id_sesion_pregunta; Type: DEFAULT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.sesion_preguntas ALTER COLUMN id_sesion_pregunta SET DEFAULT nextval('public.sesion_preguntas_id_sesion_pregunta_seq'::regclass);


--
-- Name: sesiones_examen id_examen; Type: DEFAULT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.sesiones_examen ALTER COLUMN id_examen SET DEFAULT nextval('public.sesiones_examen_id_examen_seq'::regclass);


--
-- Name: transacciones_monedas id_transaccion; Type: DEFAULT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.transacciones_monedas ALTER COLUMN id_transaccion SET DEFAULT nextval('public.transacciones_monedas_id_transaccion_seq'::regclass);


--
-- Data for Name: banco_preguntas; Type: TABLE DATA; Schema: public; Owner: user_lexiscan
--



--
-- Data for Name: configuracion; Type: TABLE DATA; Schema: public; Owner: user_lexiscan
--

COPY public.configuracion (id_config, clave, valor, descripcion) FROM stdin;
1	GROQ_API_KEY	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	API Key para Groq
2	GROQ_MODEL	llama-3.3-70b-versatile	Modelo de Groq a utilizar
\.


--
-- Data for Name: economia_monedas; Type: TABLE DATA; Schema: public; Owner: user_lexiscan
--

COPY public.economia_monedas (rut_usuario, saldo_monedas, total_acumulado, ultima_transaccion) FROM stdin;
20144801-8	0	0	2026-05-14 19:20:15.714854+00
\.


--
-- Data for Name: errores_favoritos; Type: TABLE DATA; Schema: public; Owner: user_lexiscan
--



--
-- Data for Name: historial_habilidades; Type: TABLE DATA; Schema: public; Owner: user_lexiscan
--

COPY public.historial_habilidades (id_progreso, rut_usuario, nombre_habilidad, nivel_maestria, ultima_actualizacion) FROM stdin;
2	20144801-8	Localizar	15.00	2026-05-14 19:21:15.089151+00
7	20144801-8	Tipos_de_Texto	15.00	2026-05-14 19:28:33.730101+00
6	20144801-8	Vocabulario	11.00	2026-05-14 19:43:50.155252+00
4	20144801-8	Evaluar	15.00	2026-05-14 19:58:41.566467+00
5	20144801-8	Lectura_Critica	0.00	2026-05-14 20:00:22.658972+00
3	20144801-8	Interpretar	34.00	2026-05-14 20:11:42.564031+00
\.


--
-- Data for Name: preguntas_ia; Type: TABLE DATA; Schema: public; Owner: user_lexiscan
--



--
-- Data for Name: sesion_preguntas; Type: TABLE DATA; Schema: public; Owner: user_lexiscan
--

COPY public.sesion_preguntas (id_sesion_pregunta, id_examen, id_pregunta, respuesta_dada, es_correcta, tiempo_respuesta) FROM stdin;
1	1	10	\N	\N	\N
2	1	16	\N	\N	\N
3	1	7	\N	\N	\N
4	1	19	\N	\N	\N
5	1	20	\N	\N	\N
6	1	8	\N	\N	\N
7	1	5	\N	\N	\N
8	1	6	\N	\N	\N
9	1	21	\N	\N	\N
10	1	13	\N	\N	\N
11	1	11	\N	\N	\N
12	1	2	\N	\N	\N
13	1	12	\N	\N	\N
14	1	9	\N	\N	\N
15	1	15	\N	\N	\N
\.


--
-- Data for Name: sesiones_examen; Type: TABLE DATA; Schema: public; Owner: user_lexiscan
--

COPY public.sesiones_examen (id_examen, rut_usuario, cantidad_preguntas, puntaje_obtenido, puntaje_maximo, tiempo_total, es_impulsivo, fecha_inicio, fecha_fin, completado) FROM stdin;
1	20144801-8	15	\N	15	0	f	2026-05-14 19:58:18.501346+00	\N	f
\.


--
-- Data for Name: transacciones_monedas; Type: TABLE DATA; Schema: public; Owner: user_lexiscan
--

COPY public.transacciones_monedas (id_transaccion, rut_usuario, monto, concepto, fecha) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: user_lexiscan
--

COPY public.usuarios (rut, nombre_completo, email, password_hash, xp_total, racha_actual, fecha_registro, activo, ultimo_acceso) FROM stdin;
20144801-8	Elias Ya├▒ez	yeliasdaniel@gmail.com	$2b$12$/WKLdzCaFyCvgYSdQD2zA.kuRgMiXgUSulNB7G.lQRbA2ubtekRnO	210	1	2026-05-14 19:20:15.715854+00	t	2026-05-14 19:58:18.519808+00
\.


--
-- Name: banco_preguntas_id_pregunta_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lexiscan
--

SELECT pg_catalog.setval('public.banco_preguntas_id_pregunta_seq', 37, true);


--
-- Name: configuracion_id_config_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lexiscan
--

SELECT pg_catalog.setval('public.configuracion_id_config_seq', 2, true);


--
-- Name: errores_favoritos_id_error_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lexiscan
--

SELECT pg_catalog.setval('public.errores_favoritos_id_error_seq', 16, true);


--
-- Name: historial_habilidades_id_progreso_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lexiscan
--

SELECT pg_catalog.setval('public.historial_habilidades_id_progreso_seq', 7, true);


--
-- Name: preguntas_ia_id_pregunta_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lexiscan
--

SELECT pg_catalog.setval('public.preguntas_ia_id_pregunta_seq', 16, true);


--
-- Name: sesion_preguntas_id_sesion_pregunta_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lexiscan
--

SELECT pg_catalog.setval('public.sesion_preguntas_id_sesion_pregunta_seq', 15, true);


--
-- Name: sesiones_examen_id_examen_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lexiscan
--

SELECT pg_catalog.setval('public.sesiones_examen_id_examen_seq', 1, true);


--
-- Name: transacciones_monedas_id_transaccion_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lexiscan
--

SELECT pg_catalog.setval('public.transacciones_monedas_id_transaccion_seq', 1, false);


--
-- Name: banco_preguntas banco_preguntas_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.banco_preguntas
    ADD CONSTRAINT banco_preguntas_pkey PRIMARY KEY (id_pregunta);


--
-- Name: configuracion configuracion_clave_key; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.configuracion
    ADD CONSTRAINT configuracion_clave_key UNIQUE (clave);


--
-- Name: configuracion configuracion_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.configuracion
    ADD CONSTRAINT configuracion_pkey PRIMARY KEY (id_config);


--
-- Name: economia_monedas economia_monedas_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.economia_monedas
    ADD CONSTRAINT economia_monedas_pkey PRIMARY KEY (rut_usuario);


--
-- Name: errores_favoritos errores_favoritos_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.errores_favoritos
    ADD CONSTRAINT errores_favoritos_pkey PRIMARY KEY (id_error);


--
-- Name: errores_favoritos errores_favoritos_rut_usuario_id_pregunta_key; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.errores_favoritos
    ADD CONSTRAINT errores_favoritos_rut_usuario_id_pregunta_key UNIQUE (rut_usuario, id_pregunta);


--
-- Name: historial_habilidades historial_habilidades_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.historial_habilidades
    ADD CONSTRAINT historial_habilidades_pkey PRIMARY KEY (id_progreso);


--
-- Name: historial_habilidades historial_habilidades_rut_usuario_nombre_habilidad_key; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.historial_habilidades
    ADD CONSTRAINT historial_habilidades_rut_usuario_nombre_habilidad_key UNIQUE (rut_usuario, nombre_habilidad);


--
-- Name: preguntas_ia preguntas_ia_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.preguntas_ia
    ADD CONSTRAINT preguntas_ia_pkey PRIMARY KEY (id_pregunta);


--
-- Name: sesion_preguntas sesion_preguntas_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.sesion_preguntas
    ADD CONSTRAINT sesion_preguntas_pkey PRIMARY KEY (id_sesion_pregunta);


--
-- Name: sesiones_examen sesiones_examen_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.sesiones_examen
    ADD CONSTRAINT sesiones_examen_pkey PRIMARY KEY (id_examen);


--
-- Name: transacciones_monedas transacciones_monedas_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.transacciones_monedas
    ADD CONSTRAINT transacciones_monedas_pkey PRIMARY KEY (id_transaccion);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (rut);


--
-- Name: idx_banco_activa; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_banco_activa ON public.banco_preguntas USING btree (activa);


--
-- Name: idx_banco_habilidad; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_banco_habilidad ON public.banco_preguntas USING btree (id_habilidad);


--
-- Name: idx_errores_resuelta; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_errores_resuelta ON public.errores_favoritos USING btree (resuelta);


--
-- Name: idx_errores_usuario; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_errores_usuario ON public.errores_favoritos USING btree (rut_usuario);


--
-- Name: idx_errores_veces; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_errores_veces ON public.errores_favoritos USING btree (veces_fallada DESC);


--
-- Name: idx_habilidades_nivel; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_habilidades_nivel ON public.historial_habilidades USING btree (nivel_maestria);


--
-- Name: idx_preguntas_ia_activa; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_preguntas_ia_activa ON public.preguntas_ia USING btree (activa);


--
-- Name: idx_preguntas_ia_habilidad; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_preguntas_ia_habilidad ON public.preguntas_ia USING btree (id_habilidad);


--
-- Name: idx_sesion_fecha; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_sesion_fecha ON public.sesiones_examen USING btree (fecha_inicio DESC);


--
-- Name: idx_sesion_usuario; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_sesion_usuario ON public.sesiones_examen USING btree (rut_usuario);


--
-- Name: idx_sp_examen; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_sp_examen ON public.sesion_preguntas USING btree (id_examen);


--
-- Name: idx_sp_pregunta; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_sp_pregunta ON public.sesion_preguntas USING btree (id_pregunta);


--
-- Name: idx_trans_fecha; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_trans_fecha ON public.transacciones_monedas USING btree (fecha DESC);


--
-- Name: idx_trans_usuario; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_trans_usuario ON public.transacciones_monedas USING btree (rut_usuario);


--
-- Name: idx_usuarios_email; Type: INDEX; Schema: public; Owner: user_lexiscan
--

CREATE INDEX idx_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: banco_preguntas banco_preguntas_id_habilidad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.banco_preguntas
    ADD CONSTRAINT banco_preguntas_id_habilidad_fkey FOREIGN KEY (id_habilidad) REFERENCES public.historial_habilidades(id_progreso);


--
-- Name: economia_monedas economia_monedas_rut_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.economia_monedas
    ADD CONSTRAINT economia_monedas_rut_usuario_fkey FOREIGN KEY (rut_usuario) REFERENCES public.usuarios(rut) ON DELETE CASCADE;


--
-- Name: errores_favoritos errores_favoritos_id_habilidad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.errores_favoritos
    ADD CONSTRAINT errores_favoritos_id_habilidad_fkey FOREIGN KEY (id_habilidad) REFERENCES public.historial_habilidades(id_progreso);


--
-- Name: errores_favoritos errores_favoritos_id_pregunta_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.errores_favoritos
    ADD CONSTRAINT errores_favoritos_id_pregunta_fkey FOREIGN KEY (id_pregunta) REFERENCES public.banco_preguntas(id_pregunta);


--
-- Name: errores_favoritos errores_favoritos_rut_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.errores_favoritos
    ADD CONSTRAINT errores_favoritos_rut_usuario_fkey FOREIGN KEY (rut_usuario) REFERENCES public.usuarios(rut) ON DELETE CASCADE;


--
-- Name: historial_habilidades historial_habilidades_rut_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.historial_habilidades
    ADD CONSTRAINT historial_habilidades_rut_usuario_fkey FOREIGN KEY (rut_usuario) REFERENCES public.usuarios(rut) ON DELETE CASCADE;


--
-- Name: preguntas_ia preguntas_ia_id_habilidad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.preguntas_ia
    ADD CONSTRAINT preguntas_ia_id_habilidad_fkey FOREIGN KEY (id_habilidad) REFERENCES public.historial_habilidades(id_progreso);


--
-- Name: sesion_preguntas sesion_preguntas_id_examen_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.sesion_preguntas
    ADD CONSTRAINT sesion_preguntas_id_examen_fkey FOREIGN KEY (id_examen) REFERENCES public.sesiones_examen(id_examen) ON DELETE CASCADE;


--
-- Name: sesion_preguntas sesion_preguntas_id_pregunta_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.sesion_preguntas
    ADD CONSTRAINT sesion_preguntas_id_pregunta_fkey FOREIGN KEY (id_pregunta) REFERENCES public.banco_preguntas(id_pregunta);


--
-- Name: sesiones_examen sesiones_examen_rut_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.sesiones_examen
    ADD CONSTRAINT sesiones_examen_rut_usuario_fkey FOREIGN KEY (rut_usuario) REFERENCES public.usuarios(rut) ON DELETE CASCADE;


--
-- Name: transacciones_monedas transacciones_monedas_rut_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lexiscan
--

ALTER TABLE ONLY public.transacciones_monedas
    ADD CONSTRAINT transacciones_monedas_rut_usuario_fkey FOREIGN KEY (rut_usuario) REFERENCES public.usuarios(rut);


--
-- PostgreSQL database dump complete
--

\unrestrict ZxmVdbOWxyufDKCD6FhqfjGFGdahb8OTREwXklpBHX0231FV2i1827URUoVeoDN

