<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <!-- RUT Input -->
    <ion-item>
      <ion-label position="stacked">RUT</ion-label>
      <ion-input 
        formControlName="rut" 
        placeholder="12.345.678-K"
        type="text">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="getErrorMessage('rut')">
      <p class="ion-padding-start">{{ getErrorMessage('rut') }}</p>
    </ion-text>

    <!-- Email Input -->
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input 
        formControlName="email" 
        placeholder="ejemplo@correo.com"
        type="email">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="getErrorMessage('email')">
      <p class="ion-padding-start">{{ getErrorMessage('email') }}</p>
    </ion-text>

    <!-- Password Input -->
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input 
        formControlName="contrasena" 
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Ingrese su contraseña">
      </ion-input>
      <ion-button 
        fill="clear" 
        slot="end"
        (click)="togglePasswordVisibility()">
        <ion-icon 
          slot="icon-only" 
          [name]="showPassword ? 'eye-off' : 'eye'">
        </ion-icon>
      </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="getErrorMessage('contrasena')">
      <p class="ion-padding-start">{{ getErrorMessage('contrasena') }}</p>
    </ion-text>

    <!-- Form Status -->
    <ion-text *ngIf="submitted && !loginForm.valid" color="warning">
      <p class="ion-padding">Por favor corrija los errores en el formulario</p>
    </ion-text>

    <!-- Submit Button -->
    <ion-button 
      expand="block" 
      type="submit"
      class="ion-margin-top"
      [disabled]="submitted && !loginForm.valid">
      Ingresar
    </ion-button>

    <!-- Reset Button -->
    <ion-button 
      expand="block" 
      fill="outline"
      type="button"
      (click)="resetForm()"
      class="ion-margin-top">
      Limpiar
    </ion-button>
  </form>
</ion-content>
